<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfecto - OEE Dashboard</title>

    <!-- Bootstrap & Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark p-3">
        <div class="container d-flex justify-content-between">
            <div>
                <img class="logo-img" src="{{ url_for('static', filename='images/logo-color.png') }}" alt="Logo">
                <a class="navbar-brand text-white fw-bold" href="#"><i class="fas fa-chart-bar"></i> OEE Dashboard</a>
            </div>
            <div class="sub-menu d-flex align-items-stretch gap-2">
                <div id="plcStatus" class="theme-toggle fw-bold d-flex align-items-center justify-content-center px-3 py-2 flex-fill custom-height">
                    Checking...
                </div>
            
                <div class="theme-toggle text-white d-flex align-items-center justify-content-center px-3 py-2 flex-fill custom-height"
                    onclick="toggleTheme()">
                    <i id="themeIcon" class="fas fa-moon"></i>
                </div>
            
                {% if full_name %}
                <div class="theme-toggle text-white d-flex align-items-center justify-content-center px-3 py-2 flex-fill custom-height">
                    <i class="fas fa-user"></i> 
                    <span class="ms-2">{{ full_name }}</span> <!-- Space added using margin -->
                </div>
            
                <div class="d-flex flex-fill custom-height custom-width">
                    <a href="{{ url_for('logout') }}" class="btn btn-danger btn-sm d-flex align-items-center justify-content-center w-100 custom-height">
                        Logout
                    </a>
                </div>
                {% endif %}
            </div>
                                   
        </div>
    </nav>
    <!-- Loader -->
    <div id="progress-bar">
        <div class="progress"></div>
    </div>

    <!-- Batch Name -->
    <div class="section-sub-title">
        <span class="sub-title">TIN Bottle Sorting Line</span>
    </div>

    <!-- Live Production -->
    <div class="live-production">
        <div class="section"><i class="bi bi-calculator-fill prod"></i>
            <p class="prod">Total Count <span class="prod" id="total">0</span></p>
        </div>
        <div class="section"><i class="bi bi-check-circle-fill"></i>
            <p class="prod">Produced <span class="prod" id="produced">0</span></p>
        </div>
        <div class="section"><i class="bi bi-gear-fill"></i>
            <p class="prod">In-Progress <span class="prod" id="progress">0</span></p>
        </div>
        <div class="section"><i class="bi bi-x-circle-fill"></i>
            <p class="prod">Rejected/Quarantine <span class="prod" id="rejctorquar">0</span></p>
        </div>
    </div>

    <!-- OEE Progress Circles -->
    <div class="container mt-4">
        <div class="row text-center">
            <div class="col-md-3">
                <div class="card p-4">
                    <div class="progress-container">
                        <div id="availabilityCircle" class="progress-circle"></div>
                        <div class="progress-text">
                            <h6>Availability</h6>
                            <span id="availabilityText">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-4">
                    <div class="progress-container">
                        <div id="performanceCircle" class="progress-circle"></div>
                        <div class="progress-text">
                            <h6>Performance</h6>
                            <span id="performanceText">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-4">
                    <div class="progress-container">
                        <div id="qualityCircle" class="progress-circle"></div>
                        <div class="progress-text">
                            <h6>Quality</h6>
                            <span id="qualityText">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card p-4">
                    <div class="progress-container">
                        <div id="oeeCircle" class="progress-circle"></div>
                        <div class="progress-text">
                            <h6>OEE</h6>
                            <span id="oeeText">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Stations Status -->
    <div class="station">
        <div class="d-flex justify-content-center mt-4">
            <div id="op10-status" class="station-card status-offline">
                <i id="op10-icon" class="fas fa-times-circle status-icon"></i>
                <p id="op10-text">OP10 Offline</p>
                <a href="#" class="station-oee-views">View OEE</a>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <div id="op20-status" class="station-card status-offline">
                <i id="op20-icon" class="fas fa-times-circle status-icon"></i>
                <p id="op20-text">OP20 Offline</p>
                <a href="#" class="station-oee-views">View OEE</a>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <div id="op30a-status" class="station-card status-offline">
                <i id="op30a-icon" class="fas fa-times-circle status-icon"></i>
                <p id="op30a-text">OP30A Offline</p>
                <a href="#" class="station-oee-views">View OEE</a>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <div id="op30b-status" class="station-card status-offline">
                <i id="op30b-icon" class="fas fa-times-circle status-icon"></i>
                <p id="op30b-text">OP30B Offline</p>
                <a href="#" class="station-oee-views">View OEE</a>
            </div>
        </div>
    </div>



    <!-- Footer -->
    <footer>&copy; 2025 Perfecto Robotics AI. All Rights Reserved.</footer>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>